In [66]:
#import dependencies
import pandas as pd
import numpy as np
from datetime import date
import pymongo

In [67]:
#connect to mongo locally
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
#database to store Reviews
db = client.fp_reviews_db
collection = db.reviews
#second database to store daily averages
db2 = client.fp_averages
collection2 = db2.daily_averages

In [68]:
cursor2 = collection2.find()
daily_averages =  pd.DataFrame(list(cursor2))

In [69]:
daily_averages.drop('_id', axis=1,inplace=True)

In [70]:
daily_averages

,dates,average_service,average_food,average_environment,average_experience,menu_options,yes_reccomnd_count,wouldn't_reccomend,price_expected_count,price_higher_count,price_low_count,no_price
0,05_28_2021,4.480000,4.160000,4.560000,4.320000,4.200000,22,22,14,3,1,1
1,06_02_2021,4.777778,4.555556,4.666667,4.555556,4.666667,9,9,7,0,0,1
2,06_03_2021,4.000000,4.416667,4.583333,4.333333,4.250000,12,11,8,1,0,1
3,06_04_2021,4.418605,4.441860,4.674419,4.465116,4.302326,40,39,22,4,3,1
4,06_18_2021,4.909091,4.454545,4.636364,4.363636,4.363636,10,10,3,1,1,1
5,06_19_2021,4.812500,4.625000,4.625000,4.625000,4.375000,15,16,8,0,0,1
6,06_20_2021,5.000000,4.666667,5.000000,4.666667,4.333333,3,3,1,0,0,1

In [71]:
cursor = collection.find()
reviews = list(cursor)

In [72]:
for x in range(len(daily_averages)):
    del reviews[x]['_id']

In [88]:
for review in reviews:
    data = pd.DataFrame.from_dict(review, orient='index')
    data = data.T
    df_new = data

In [89]:
df_new

,date,service,food_quality,environment,experience,menu_options,reccomend,price_point,comments
0,06_20_2021,5,5,5,5,5,y,Ticket Matched Expected Price,Rose is awesome!
1,06_20_2021,5,5,5,5,5,y,Price was not marked on ticket,Kids meal options? Brunch
2,06_20_2021,5,4,5,4,3,y,Price was not marked on ticket,Waitress did great. Lack of preferred food ite...
3,06_20_2021,5,2,4,3,5,None,Ticket Matched Expected Price,Food was bland - eggs
4,06_20_2021,5,5,5,5,None,None,Price was not marked on ticket,Lisa is the best bartender we've ever had!