In [1]:
#import dependencies
import pandas as pd
import numpy as np
from datetime import date
import pymongo

In [2]:
#connect to mongo locally
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
#database to store Reviews
db = client.fp_reviews_db
collection = db.reviews
#second database to store daily averages
db2 = client.fp_averages
collection2 = db2.daily_averages

In [3]:
#user input date to corrospond with date values were input
date = input('please input date reviews are from as mm_dd_yyyy: ')

please input date reviews are from as mm_dd_yyyy: 06_20_2021

In [4]:
#reassign column name for when csv is read into the notebook
columns = ['rating','service', 'food_quality', 'environment', 'experience', 'menu_options', 'blank', 'blank2', 
           'yes_reccomend', 'no_reccomend', 'ticket_IS_expected', 'no_ticket_lower',
          'no_ticket_higher', 'priceless']
data = pd.read_csv(f'data/fp_{date}.csv', skiprows=1, names = columns)

In [5]:
# because of how the csv is set up theres a lot of NaN's. Replaced them with zeros for ease of use
data.fillna(0,inplace=True)

In [6]:
#create  new data df the doesnt have o in the rating because theres no zeros for ratings 
data=data[data['rating']!=0]

In [7]:
#drop the two blank columns imported from the CSV
df = data.drop(['blank','blank2'], axis=1)

In [8]:
#create new colum titles again for cleaner DF
columns = ['rating','service', 'food_quality', 'environment', 'experience', 'menu_options',
           'yes_reccomend', 'no_reccomend', 'ticket_IS_expected', 'no_ticket_lower',
          'no_ticket_higher', 'priceless']
df_new=df[columns].astype(int)

In [9]:
df_new

,rating,service,food_quality,environment,experience,menu_options,yes_reccomend,no_reccomend,ticket_IS_expected,no_ticket_lower,no_ticket_higher,priceless
0,1,0,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,0,0
4,5,1,1,1,1,1,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
438,1,0,0,0,0,0,0,0,0,0,0,0
439,2,0,0,0,0,0,0,0,0,0,0,0
440,3,0,0,0,0,0,0,0,0,0,0,0
441,4,0,0,0,0,0,0,0,0,0,0,0
442,5,0,0,0,0,0,0,0,0,0,0,0

In [10]:
#created a dict to store my apended lists from the if statments below
ratings_dict={'date':[],'service':[],'food_quality':[],'environment':[],'experience':[],'menu_options':[], 'reccomend':[],
              'price_point':[], 'comments':[]}
#itterated through row and used a bunch of if statements to match the rating with the value from the column
#quite proud of how well this works
for i , j in df_new.iterrows():

    if j['rating'] == 5 and j['service'] == 1:
        ratings_dict['service'].append(5)
    if j['rating']==4 and j['service']== 1:
        ratings_dict['service'].append(4)
    if j['rating'] == 3 and j['service'] == 1:
        ratings_dict['service'].append(3)
    if j['rating'] == 2 and j['service'] == 1:
        ratings_dict['service'].append(2)
    if j['rating'] == 1 and j['service'] == 1:
        ratings_dict['service'].append(1)

In [11]:
for i , j in df_new.iterrows():
    
    if j['rating'] == 5 and j['food_quality'] == 1:
        ratings_dict['food_quality'].append(5)
    if j['rating'] == 4 and j['food_quality'] == 1:
        ratings_dict['food_quality'].append(4)
    if j['rating'] == 3 and j['food_quality'] == 1:
        ratings_dict['food_quality'].append(3)
    if j['rating'] == 2 and j['food_quality'] == 1:
        ratings_dict['food_quality'].append(2)
    if j['rating'] == 1 and j['food_quality'] == 1:
        ratings_dict['food_quality'].append(1)

In [12]:
for i , j in df_new.iterrows():
    
    if j['rating'] == 5 and j['environment'] == 1:
        ratings_dict['environment'].append(5)
    if j['rating'] == 4 and j['environment'] == 1:
        ratings_dict['environment'].append(4)
    if j['rating'] == 3 and j['environment'] == 1:
        ratings_dict['environment'].append(3)
    if j['rating'] == 2 and j['environment'] == 1:
        ratings_dict['environment'].append(2)
    if j['rating'] == 1 and j['environment'] == 1:
        ratings_dict['environment'].append(1)

In [13]:
for i , j in df_new.iterrows():
    
    if j['rating'] == 5 and j['experience'] == 1:
        ratings_dict['experience'].append(5)
    if j['rating'] == 4 and j['experience'] == 1:
        ratings_dict['experience'].append(4)
    if j['rating'] == 3 and j['experience'] == 1:
        ratings_dict['experience'].append(3)
    if j['rating'] == 2 and j['experience'] == 1:
        ratings_dict['experience'].append(2)
    if j['rating'] == 1 and j['experience'] == 1:
        ratings_dict['experience'].append(1)

In [14]:
for i , j in df_new.iterrows():
    
    if j['rating'] == 5 and j['menu_options'] == 1:
        ratings_dict['menu_options'].append(5)
    if j['rating'] == 4 and j['menu_options'] == 1:
        ratings_dict['menu_options'].append(4)
    if j['rating'] == 3 and j['menu_options'] == 1:
        ratings_dict['menu_options'].append(3)
    if j['rating'] == 2 and j['menu_options'] == 1:
        ratings_dict['menu_options'].append(2)
    if j['rating'] == 1 and j['menu_options'] == 1:
        ratings_dict['menu_options'].append(1)

In [15]:
for i , j in df_new.iterrows():
    
    if j['rating'] == 5 and j['yes_reccomend'] == 1:
        ratings_dict['reccomend'].append('y')
    if j['rating'] == 5 and j['no_reccomend'] == 1:
        ratings_dict['reccomend'].append('n')

In [16]:
for i , j in df_new.iterrows():
    
    if j['rating'] == 5 and j['ticket_IS_expected'] == 1:
        ratings_dict['price_point'].append('Ticket Matched Expected Price')
    if j['rating'] == 5 and j['no_ticket_lower'] == 1:
        ratings_dict['price_point'].append('Ticket price was lower than expected')
    if j['rating'] == 5 and j['no_ticket_higher'] == 1:
        ratings_dict['price_point'].append('Ticket price was more than expected')
    if j['rating'] == 5 and j['priceless'] == 1:
        ratings_dict['price_point'].append('Price was not marked on ticket')

In [17]:
#added a new column with the date for lat querying
for x in range(len(ratings_dict['service'])):
    ratings_dict['date'].append(date)

In [18]:
ratings_dict

{'date': ['06_20_2021',
  '06_20_2021',
  '06_20_2021',
  '06_20_2021',
  '06_20_2021'],
 'service': [5, 5, 5, 5, 5],
 'food_quality': [5, 5, 4, 2, 5],
 'environment': [5, 5, 5, 4, 5],
 'experience': [5, 5, 4, 3, 5],
 'menu_options': [5, 5, 3, 5],
 'reccomend': ['y', 'y', 'y'],
 'price_point': ['Ticket Matched Expected Price',
  'Price was not marked on ticket',
  'Price was not marked on ticket',
  'Ticket Matched Expected Price',
  'Price was not marked on ticket'],
 'comments': []}

In [19]:
#read in comments CSV to add to DF to create a master csv with comments
comments = pd.read_csv(f'data/comments_{date}.csv')

In [20]:
#add comments to dict for storage in mongo
for comment in comments['comments']:
    ratings_dict['comments'].append(comment)

In [21]:
#create a DF from my ratings dict. Set the keys to be oriented in the index. This fills the missing values with none
cleaned = pd.DataFrame.from_dict(ratings_dict, orient='index')
#transpose take the indexes and makes them columns to make a nice looking DF
cleaned = cleaned.transpose()

In [22]:
#some of these have up to 13 extra columns. This for loop tries to drop one at a time if it cant it moves on
for x in range(13):
    try:
        cleaned.drop(f'Unnamed: {x+1}' , axis=1, inplace=True)
    except:
        continue

In [23]:
# save my new DF to a csv for redundency
cleaned.to_csv(f'cleaned/fp_{date}.csv')
cleaned

,date,service,food_quality,environment,experience,menu_options,reccomend,price_point,comments
0,06_20_2021,5,5,5,5,5,y,Ticket Matched Expected Price,Rose is awesome!
1,06_20_2021,5,5,5,5,5,y,Price was not marked on ticket,Kids meal options? Brunch
2,06_20_2021,5,4,5,4,3,y,Price was not marked on ticket,Waitress did great. Lack of preferred food ite...
3,06_20_2021,5,2,4,3,5,None,Ticket Matched Expected Price,Food was bland - eggs
4,06_20_2021,5,5,5,5,None,None,Price was not marked on ticket,Lisa is the best bartender we've ever had!

In [24]:
#the none valuse arent relevant for averages so I dropped them
dropped = cleaned.dropna()

In [25]:
#My calculations
service_mean = dropped['service'].astype(np.int).mean()
food_mean = dropped['food_quality'].astype(np.int).mean()
environment_mean = dropped['environment'].astype(np.int).mean()
experience_mean = dropped['experience'].astype(np.int).mean()
menu_mean = dropped['menu_options'].astype(np.int).mean()

In [26]:
rec_yes= 0
rec_no = 0
price_low = 0
price_match = 0
price_high = 0
no_price = 0
for rec,price in zip(dropped['reccomend'],dropped['price_point']):
    if rec == 'y':
        rec_yes += 1
    if price == 'Ticket price was lower than expected':
        price_low +=1
    if price == 'Ticket Matched Expected Price':
        price_match +=1
    if price == 'Ticket price was more than expected':
        price_high +=1
    else:
        rec_no +=1
        no_price=+1

In [27]:
#store my calcs into dict for database 
av_dict = {'dates':date, 'average_service':service_mean, 'average_food':food_mean, 'average_environment':environment_mean,
          'average_experience':experience_mean, 'menu_options':menu_mean, 'yes_reccomnd_count':rec_yes,
          "wouldn't_reccomend":rec_no, 'price_expected_count': price_match, 'price_higher_count':price_high, 
           'price_low_count': price_low, 'no_price': no_price}
av_df =pd.DataFrame([av_dict])
av_df

,dates,average_service,average_food,average_environment,average_experience,menu_options,yes_reccomnd_count,wouldn't_reccomend,price_expected_count,price_higher_count,price_low_count,no_price
0,06_20_2021,5.0,4.666667,5.0,4.666667,4.333333,3,3,1,0,0,1

In [28]:
#store ratings and comments into reviews document
collection.insert_one(ratings_dict)

In [29]:
#store daily averages into averages document
collection2.insert_one(av_dict)