In [61]:
import pandas as pd
import numpy as np
from datetime import date

In [63]:
date = input('please input date reviews are from as _mm_dd_yyyy: ')

please input date reviews are from as _mm_dd_yyyy: _06_17_2021

In [98]:
columns = ['rating','service', 'food_quality', 'environment', 'experience', 'menu_options', 'blank', 'blank2', 
           'yes_reccomend', 'no_reccomend', 'ticket_IS_expected', 'no_ticket_lower',
          'no_ticket_higher', 'priceless']
data = pd.read_csv(f'fp{date}.csv', skiprows=1, names = columns)

In [99]:
data.fillna(0,inplace=True)

In [100]:
data=data[data['rating']!=0]

In [101]:
df = data.drop(['blank','blank2'], axis=1)

In [102]:
columns = ['rating','service', 'food_quality', 'environment', 'experience', 'menu_options',
           'yes_reccomend', 'no_reccomend', 'ticket_IS_expected', 'no_ticket_lower',
          'no_ticket_higher', 'priceless']
df_new=df[columns].astype(int)

In [103]:
service=[]
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['service'] == 1:
        service.append(5)
    elif j['rating']==4 and j['service']== 1:
        service.append(4)
    elif j['rating'] == 3 and j['service'] == 1:
        service.append(3)
    elif j['rating'] == 2 and j['service'] == 1:
        service.append(2)
    elif j['rating'] == 1 and j['service'] == 1:
        service.append(1)

In [104]:
food_quality=[]
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['food_quality'] == 1:
        food_quality.append(5)
    elif j['rating'] == 4 and j['food_quality'] == 1:
        food_quality.append(4)
    elif j['rating'] == 3 and j['food_quality'] == 1:
        food_quality.append(3)
    elif j['rating'] == 2 and j['food_quality'] == 1:
        food_quality.append(2)
    elif j['rating'] == 1 and j['food_quality'] == 1:
        food_quality.append(1)

In [105]:
environment=[]
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['environment'] == 1:
        environment.append(5)
    elif j['rating'] == 4 and j['environment'] == 1:
        environment.append(4)
    elif j['rating'] == 3 and j['environment'] == 1:
        environment.append(3)
    elif j['rating'] == 2 and j['environment'] == 1:
        environment.append(2)
    elif j['rating'] == 1 and j['environment'] == 1:
        environment.append(1)

In [106]:
experience=[]
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['experience'] == 1:
        experience.append(5)
    elif j['rating'] == 4 and j['experience'] == 1:
        experience.append(4)
    elif j['rating'] == 3 and j['experience'] == 1:
        experience.append(3)
    elif j['rating'] == 2 and j['experience'] == 1:
        experience.append(2)
    elif j['rating'] == 1 and j['experience'] == 1:
        experience.append(1)

In [107]:
menu_options=[]
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['menu_options'] == 1:
        menu_options.append(5)
    elif j['rating'] == 4 and j['menu_options'] == 1:
        menu_options.append(4)
    elif j['rating'] == 3 and j['menu_options'] == 1:
        menu_options.append(3)
    elif j['rating'] == 2 and j['menu_options'] == 1:
        menu_options.append(2)
    elif j['rating'] == 1 and j['menu_options'] == 1:
        menu_options.append(1)

In [108]:
reccomend=[]
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['yes_reccomend'] == 1:
        reccomend.append('y')
    elif j['rating'] == 5 and j['no_reccomend'] == 1:
        reccomend.append('n')

In [109]:
price_point = []
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['ticket_IS_expected'] == 1:
        price_point.append('Ticket Matched Expected Price')
    elif j['rating'] == 5 and j['no_ticket_lower'] == 1:
        price_point.append('Ticket price was lower than expected')
    elif j['rating'] == 5 and j['no_ticket_higher'] == 1:
        price_point.append('Ticket price was more than expected')
    elif j['rating'] == 5 and j['priceless'] == 1:
        price_point.append('Price was not marked on ticket')

In [110]:
a ={'service':service,'food_quality':food_quality,'environment':environment,
                       'experience':experience,'menu_options':menu_options,
                       'reccomendation_to_fam_and_friends':reccomend,'price':price_point}
cleaned = pd.DataFrame.from_dict(a, orient='index')
cleaned = cleaned.transpose()

In [111]:
cleaned.to_csv(f'cleaned/fp_current{date}.csv')

In [112]:
comments = pd.read_csv(f'comments{date}.csv')

In [113]:
cleaned_w_comments = cleaned.merge(comments, left_index=True, right_index=True)
cleaned_w_comments

,service,food_quality,environment,experience,menu_options,reccomendation_to_fam_and_friends,price,comments
0,5,4,5,5,4,y,Price was not marked on ticket,We'll be back !!
1,5,5,5,5,5,y,Price was not marked on ticket,We'll will see you again
2,5,5,5,5,5,y,Ticket Matched Expected Price,Thank you Michael !!
3,4,4,4,4,4,y,Ticket Matched Expected Price,More gluten free/vegan options
4,5,5,5,5,5,y,Ticket Matched Expected Price,Be more cognisant of clearing plates
5,4,5,5,5,4,y,Ticket Matched Expected Price,Appetizer steak still sitting on table
6,5,5,5,5,5,y,Ticket Matched Expected Price,Replace silverware instead of asking guest ...
7,4,5,5,4,5,y,Ticket Matched Expected Price,Return to table after entrée to check on fo...

In [114]:
cleaned_w_comments.to_csv(f'cleaned/fp_current{date}.csv')

In [115]:
master = pd.read_csv('cleaned/fp_current.csv')

In [116]:
master = master.append(cleaned_w_comments)

In [117]:
master.drop('Unnamed: 0', axis=1, inplace=True)

In [118]:
master.reset_index(inplace=True)

In [119]:
master.drop('index', axis=1, inplace=True)

In [120]:
master

,service,food_quality,environment,experience,menu_options,reccomendation_to_fam_and_friends,price,comments
0,4,4,4,4,4,y,Ticket Matched Expected Price,Nice Place
1,5,4,5,4,4,y,Ticket Matched Expected Price,Great Job!
2,4,3,3,3,4,y,Price was not marked on ticket,Great experience - glad you're here
3,5,5,5,5,5,y,Ticket Matched Expected Price,Full menu after lunch rush and dessert all day...
4,5,5,5,5,5,y,Ticket Matched Expected Price,Thanks for all the vegetarian food!
5,5,5,5,5,5,y,Ticket Matched Expected Price,An espresso bar would be nice.
6,5,5,5,5,5,y,Price was not marked on ticket,I will be back ! :)
7,5,5,5,5,5,y,Ticket Matched Expected Price,5 being best experience possible. Overall grea...
8,5,4,5,5,4,y,Price was not marked on ticket,We'll be back !!
9,5,5,5,5,5,y,Price was not marked on ticket,We'll will see you again
10,5,5,5,5,5,y,Ticket Matched Expected Price,Thank you Michael !!
11,4,4,4,4,4,y,Ticket Matched Expected Price,More gluten free/vegan options
12,5,5,5,5,5,y,Ticket Matched Expected Price,Be more cognisant of clearing plates
13,4,5,5,5,4,y,Ticket Matched Expected Price,Appetizer steak still sitting on table
14,5,5,5,5,5,y,Ticket Matched Expected Price,Replace silverware instead of asking guest ...
15,4,5,5,4,5,y,Ticket Matched Expected Price,Return to table after entrée to check on fo...

In [121]:
master.to_csv('cleaned/fp_current.csv')