In [1]:
import pandas as pd
import numpy as np
from datetime import date
import pymongo

In [2]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
db = client.fp_reviews_db
collection = db.reviews

In [3]:
date = input('please input date reviews are from as mm_dd_yyyy: ')

please input date reviews are from as mm_dd_yyyy: 05_28_2021

In [4]:
columns = ['rating','service', 'food_quality', 'environment', 'experience', 'menu_options', 'blank', 'blank2', 
           'yes_reccomend', 'no_reccomend', 'ticket_IS_expected', 'no_ticket_lower',
          'no_ticket_higher', 'priceless']
data = pd.read_csv(f'data/fp_{date}.csv', skiprows=1, names = columns)

In [5]:
data.fillna(0,inplace=True)

In [6]:
data=data[data['rating']!=0]

In [7]:
df = data.drop(['blank','blank2'], axis=1)

In [8]:
columns = ['rating','service', 'food_quality', 'environment', 'experience', 'menu_options',
           'yes_reccomend', 'no_reccomend', 'ticket_IS_expected', 'no_ticket_lower',
          'no_ticket_higher', 'priceless']
df_new=df[columns].astype(int)

In [9]:
ratings_dict = {'ratings':[]}
date_dict={'input_date':date}
sub_dict = {'service':[], 'food_quality':[], 'environment':[], 'experience':[], 'menu_options':[], 'reccomend':[],
           'price_point':[], 'comments':[]}

In [10]:
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['service'] == 1:
        sub_dict['service'].append(5)
    elif j['rating']==4 and j['service']== 1:
        sub_dict['service'].append(4)
    elif j['rating'] == 3 and j['service'] == 1:
        sub_dict['service'].append(3)
    elif j['rating'] == 2 and j['service'] == 1:
        sub_dict['service'].append(2)
    elif j['rating'] == 1 and j['service'] == 1:
        sub_dict['service'].append(1)

In [11]:
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['food_quality'] == 1:
        sub_dict['food_quality'].append(5)
    elif j['rating'] == 4 and j['food_quality'] == 1:
        sub_dict['food_quality'].append(4)
    elif j['rating'] == 3 and j['food_quality'] == 1:
        sub_dict['food_quality'].append(3)
    elif j['rating'] == 2 and j['food_quality'] == 1:
        sub_dict['food_quality'].append(2)
    elif j['rating'] == 1 and j['food_quality'] == 1:
        sub_dict['food_quality'].append(1)

In [12]:
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['environment'] == 1:
        sub_dict['environment'].append(5)
    elif j['rating'] == 4 and j['environment'] == 1:
        sub_dict['environment'].append(4)
    elif j['rating'] == 3 and j['environment'] == 1:
        sub_dict['environment'].append(3)
    elif j['rating'] == 2 and j['environment'] == 1:
        sub_dict['environment'].append(2)
    elif j['rating'] == 1 and j['environment'] == 1:
        sub_dict['environment'].append(1)

In [13]:
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['experience'] == 1:
        sub_dict['experience'].append(5)
    elif j['rating'] == 4 and j['experience'] == 1:
        sub_dict['experience'].append(4)
    elif j['rating'] == 3 and j['experience'] == 1:
        sub_dict['experience'].append(3)
    elif j['rating'] == 2 and j['experience'] == 1:
        sub_dict['experience'].append(2)
    elif j['rating'] == 1 and j['experience'] == 1:
        sub_dict['experience'].append(1)

In [14]:
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['menu_options'] == 1:
        sub_dict['menu_options'].append(5)
    elif j['rating'] == 4 and j['menu_options'] == 1:
        sub_dict['menu_options'].append(4)
    elif j['rating'] == 3 and j['menu_options'] == 1:
        sub_dict['menu_options'].append(3)
    elif j['rating'] == 2 and j['menu_options'] == 1:
        sub_dict['menu_options'].append(2)
    elif j['rating'] == 1 and j['menu_options'] == 1:
        sub_dict['menu_options'].append(1)

In [15]:
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['yes_reccomend'] == 1:
        sub_dict['reccomend'].append('y')
    elif j['rating'] == 5 and j['no_reccomend'] == 1:
        sub_dict['reccomend'].append('n')

In [16]:
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['ticket_IS_expected'] == 1:
        sub_dict['price_point'].append('Ticket Matched Expected Price')
    elif j['rating'] == 5 and j['no_ticket_lower'] == 1:
        sub_dict['price_point'].append('Ticket price was lower than expected')
    elif j['rating'] == 5 and j['no_ticket_higher'] == 1:
        sub_dict['price_point'].append('Ticket price was more than expected')
    elif j['rating'] == 5 and j['priceless'] == 1:
        sub_dict['price_point'].append('Price was not marked on ticket')

In [17]:
comments = pd.read_csv(f'data/comments_{date}.csv')

In [18]:
for comment in comments['comments']:
    sub_dict['comments'].append(comment)

In [19]:
cleaned = pd.DataFrame.from_dict(sub_dict, orient='index')
cleaned = cleaned.transpose()

In [21]:
for x in range(13):
    try:
        cleaned.drop(f'Unnamed: {x+1}' , axis=1, inplace=True)
    except:
        continue

In [25]:
cleaned.to_csv(f'cleaned/fp_{date}.csv')
cleaned

,service,food_quality,environment,experience,menu_options,reccomend,price_point,comments
0,5,5,5,5,5,y,Ticket price was lower than expected,The price point is reasonable enough to keep p...
1,5,5,5,5,4,y,Ticket Matched Expected Price,Aspen made an amazing jalapeno margarite 10/10
2,5,5,5,5,5,y,Price was not marked on ticket,"Brandon did a wonderful job, very attentive ..."
3,5,5,5,5,5,y,Ticket Matched Expected Price,I think the servers should have a united...
4,1,1,5,3,5,y,Price was not marked on ticket,Just something he improve on but overall he ...
5,5,4,5,4,4,y,Ticket price was more than expected,Shane was very attentive to the overal resta...
6,4,4,5,5,5,y,Ticket Matched Expected Price,The entire experience was amazing. I loved ...
7,5,5,4,4,4,y,Ticket Matched Expected Price,The food was top notch. The only thing I wo...
8,4,4,4,4,4,y,Ticket Matched Expected Price,Wrapping steak knife with the cutlery so ser...
9,4,4,5,4,5,y,Ticket price was more than expected,The restaurant is very unique and is now my ...
10,2,1,2,1,3,n,Price was not marked on ticket,I have not had asparagus or spinach artichok...
11,3,5,5,3,5,y,Ticket Matched Expected Price,Codi was Great!
12,5,4,5,5,3,y,Price was not marked on ticket,LOVE THE FOOD!!
13,5,4,5,5,3,y,Ticket Matched Expected Price,Great servie - H20 filled !(doesn't happen in ...
14,5,5,5,5,5,y,Ticket Matched Expected Price,Original server made zero contact w/us… 30 min...
15,5,5,5,5,5,y,Ticket Matched Expected Price,"Burnt bacon, burnt toast :("
16,5,5,5,5,5,y,Price was not marked on ticket,Coffee didn't come out till after we finished ...
17,5,5,5,5,5,y,Ticket price was more than expected,I think you've done a great job with the resta...
18,5,1,3,3,2,y,Ticket Matched Expected Price,No kids allowed what so ever! Ever!
19,5,4,5,4,5,y,Price was not marked on ticket,We will be back
20,5,5,5,5,1,n,Ticket Matched Expected Price,Fatty steak
21,5,5,5,5,5,y,Ticket Matched Expected Price,Make it Fun. Life is Short
22,5,5,5,5,4,y,Ticket Matched Expected Price,Great to have a quality option in our rather m...
23,5,3,3,5,5,y,Ticket Matched Expected Price,Too Cold
24,4,5,3,3,3,n,Price was not marked on ticket,Spices
25,5,5,5,5,5,y,None,Sauces were amazing. Seems the restaurant is m...
26,3,None,4,4,4,y,None,Roasted Corn: Charred on outside and not cooke...
27,None,None,None,None,None,None,None,"Excellent service, very timely and delicious"
28,None,None,None,None,None,None,None,The food was delicious! The space feels very l...

In [26]:
collection.insert_one(ratings_dict)

In [27]:
cursor = collection.find()

In [260]:
# ## Frenchy ( Mar 1 '19 at 8:56) How to Write Multiple Data Frames in an Excel Sheet (python 3). https://datascience.stackexchange.com/questions/46437/how-to-write-multiple-data-frames-in-an-excel-sheet.

# # Create a Pandas Excel writer using XlsxWriter as the engine.
# writer = pd.ExcelWriter('presentation_excel/fp_master.xlsx', engine='xlsxwriter')

# # Write each dataframe to a different worksheet. you could write different string like above if you want
# averages_df.to_excel(writer, sheet_name='Average Ratings')
# master.to_excel(writer, sheet_name='Review Data')

# # Close the Pandas Excel writer and output the Excel file.
# writer.save()