In [268]:
import pandas as pd
import numpy as np
from datetime import date
import pymongo

In [269]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
db = client.fp_reviews_db
collection = db.reviews

In [367]:
date = input('please input date reviews are from as mm_dd_yyyy: ')

please input date reviews are from as mm_dd_yyyy: 06_04_2021

In [370]:
columns = ['rating','service', 'food_quality', 'environment', 'experience', 'menu_options', 'blank', 'blank2', 
           'yes_reccomend', 'no_reccomend', 'ticket_IS_expected', 'no_ticket_lower',
          'no_ticket_higher', 'priceless']
data = pd.read_csv(f'data/fp_{date}.csv', skiprows=1, names = columns)

In [371]:
data.fillna(0,inplace=True)

In [372]:
data=data[data['rating']!=0]

In [373]:
df = data.drop(['blank','blank2'], axis=1)

In [374]:
columns = ['rating','service', 'food_quality', 'environment', 'experience', 'menu_options',
           'yes_reccomend', 'no_reccomend', 'ticket_IS_expected', 'no_ticket_lower',
          'no_ticket_higher', 'priceless']
df_new=df[columns].astype(int)

In [375]:
ratings_dict = {'ratings':[]}
date_dict={'input_date':date}
sub_dict = {'service':[], 'food_quality':[], 'environment':[], 'experience':[], 'menu_options':[], 'reccomend':[],
           'price_point':[]}

In [376]:
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['service'] == 1:
        sub_dict['service'].append(5)
    elif j['rating']==4 and j['service']== 1:
        sub_dict['service'].append(4)
    elif j['rating'] == 3 and j['service'] == 1:
        sub_dict['service'].append(3)
    elif j['rating'] == 2 and j['service'] == 1:
        sub_dict['service'].append(2)
    elif j['rating'] == 1 and j['service'] == 1:
        sub_dict['service'].append(1)

In [377]:
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['food_quality'] == 1:
        sub_dict['food_quality'].append(5)
    elif j['rating'] == 4 and j['food_quality'] == 1:
        sub_dict['food_quality'].append(4)
    elif j['rating'] == 3 and j['food_quality'] == 1:
        sub_dict['food_quality'].append(3)
    elif j['rating'] == 2 and j['food_quality'] == 1:
        sub_dict['food_quality'].append(2)
    elif j['rating'] == 1 and j['food_quality'] == 1:
        sub_dict['food_quality'].append(1)

In [378]:
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['environment'] == 1:
        sub_dict['environment'].append(5)
    elif j['rating'] == 4 and j['environment'] == 1:
        sub_dict['environment'].append(4)
    elif j['rating'] == 3 and j['environment'] == 1:
        sub_dict['environment'].append(3)
    elif j['rating'] == 2 and j['environment'] == 1:
        sub_dict['environment'].append(2)
    elif j['rating'] == 1 and j['environment'] == 1:
        sub_dict['environment'].append(1)

In [379]:
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['experience'] == 1:
        sub_dict['experience'].append(5)
    elif j['rating'] == 4 and j['experience'] == 1:
        sub_dict['experience'].append(4)
    elif j['rating'] == 3 and j['experience'] == 1:
        sub_dict['experience'].append(3)
    elif j['rating'] == 2 and j['experience'] == 1:
        sub_dict['experience'].append(2)
    elif j['rating'] == 1 and j['experience'] == 1:
        sub_dict['experience'].append(1)

In [380]:
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['menu_options'] == 1:
        sub_dict['menu_options'].append(5)
    elif j['rating'] == 4 and j['menu_options'] == 1:
        sub_dict['menu_options'].append(4)
    elif j['rating'] == 3 and j['menu_options'] == 1:
        sub_dict['menu_options'].append(3)
    elif j['rating'] == 2 and j['menu_options'] == 1:
        sub_dict['menu_options'].append(2)
    elif j['rating'] == 1 and j['menu_options'] == 1:
        sub_dict['menu_options'].append(1)

In [381]:
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['yes_reccomend'] == 1:
        sub_dict['reccomend'].append('y')
    elif j['rating'] == 5 and j['no_reccomend'] == 1:
        sub_dict['reccomend'].append('n')

In [382]:
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['ticket_IS_expected'] == 1:
        sub_dict['price_point'].append('Ticket Matched Expected Price')
    elif j['rating'] == 5 and j['no_ticket_lower'] == 1:
        sub_dict['price_point'].append('Ticket price was lower than expected')
    elif j['rating'] == 5 and j['no_ticket_higher'] == 1:
        sub_dict['price_point'].append('Ticket price was more than expected')
    elif j['rating'] == 5 and j['priceless'] == 1:
        sub_dict['price_point'].append('Price was not marked on ticket')

In [383]:
cleaned = pd.DataFrame.from_dict(sub_dict, orient='index')
cleaned = cleaned.transpose()

In [384]:
date_dict['reviews']= sub_dict
ratings_dict['ratings'].append(date_dict)

In [385]:
ratings_dict

{'ratings': [{'input_date': '06_04_2021',
   'reviews': {'service': [2,
     4,
     4,
     5,
     5,
     5,
     5,
     5,
     5,
     5,
     5,
     5,
     5,
     5,
     4,
     5,
     5,
     5,
     5,
     5,
     4,
     1,
     5,
     5,
     1,
     3,
     5,
     5,
     5,
     5,
     3,
     5,
     4,
     5,
     4,
     4,
     5,
     5,
     5,
     5,
     3,
     4,
     5,
     4,
     5,
     5,
     4,
     4,
     5,
     5,
     5,
     5,
     5,
     5,
     4,
     5,
     5],
    'food_quality': [3,
     5,
     4,
     5,
     5,
     5,
     5,
     5,
     5,
     5,
     4,
     5,
     5,
     5,
     5,
     5,
     4,
     5,
     4,
     5,
     3,
     5,
     5,
     5,
     3,
     2,
     5,
     4,
     4,
     4,
     3,
     4,
     4,
     5,
     5,
     3,
     5,
     5,
     5,
     5,
     4,
     4,
     5,
     5,
     5,
     4,
     5,
     4,
     4,
     4,
     5,
     5,
     5,
     5,
     4,
     5,
     5],
    'environment': [4,
     5,
     4,
     5,
     5,
     5,
     5,
     5,
     5,
     5,
     3,
     5,
     5,
     5,
     4,
     5,
     5,
     5,
     5,
     5,
     4,
     5,
     5,
     4,
     5,
     3,
     5,
     5,
     5,
     5,
     3,
     4,
     5,
     5,
     5,
     5,
     5,
     5,
     5,
     5,
     4,
     4,
     5,
     5,
     5,
     5,
     5,
     4,
     5,
     4,
     5,
     4,
     5,
     5,
     4,
     5,
     5],
    'experience': [3,
     5,
     4,
     5,
     5,
     5,
     5,
     5,
     5,
     5,
     5,
     5,
     5,
     5,
     4,
     5,
     5,
     5,
     5,
     5,
     3,
     3,
     5,
     5,
     1,
     2,
     5,
     5,
     5,
     4,
     3,
     4,
     4,
     5,
     5,
     4,
     5,
     5,
     5,
     5,
     4,
     4,
     5,
     5,
     5,
     5,
     4,
     5,
     5,
     4,
     5,
     4,
     5,
     5,
     4,
     5,
     5],
    'menu_options': [2,
     4,
     2,
     5,
     5,
     5,
     5,
     4,
     5,
     5,
     4,
     5,
     5,
     5,
     5,
     4,
     4,
     5,
     3,
     5,
     3,
     4,
     5,
     4,
     5,
     4,
     5,
     4,
     4,
     4,
     3,
     4,
     4,
     5,
     4,
     3,
     5,
     5,
     5,
     5,
     5,
     3,
     5,
     3,
     5,
     3,
     4,
     3,
     5,
     3,
     3,
     2,
     5,
     5,
     4,
     4,
     5],
    'reccomend': ['y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'n',
     'n',
     'y',
     'y',
     'y',
     'y',
     'n',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y',
     'y'],
    'price_point': ['Price was not marked on ticket',
     'Ticket Matched Expected Price',
     'Price was not marked on ticket',
     'Price was not marked on ticket',
     'Price was not marked on ticket',
     'Ticket price was lower than expected',
     'Ticket Matched Expected Price',
     'Ticket Matched Expected Price',
     'Ticket Matched Expected Price',
     'Ticket Matched Expected Price',
     'Ticket Matched Expected Price',
     'Price was not marked on ticket',
     'Price was not marked on ticket',
     'Ticket Matched Expected Price',
     'Ticket Matched Expected Price',
     'Ticket Matched Expected Price',
     'Price was not marked on ticket',
     'Ticket price was more than expected',
     'Price was not marked on ticket',
     'Ticket Matched Expected Price',
     'Ticket Matched Expected Price',
     'Ticket Matched Expected Price',
     'Ticket Matched Expected Price',
     'Ticket Matched Expected Price',
     'Ticket Matched Expected Price',
     'Ticket price was more than expected',
     'Ticket Matched Expected Price',
     'Price was not marked on ticket',
     'Price was not marked on ticket',
     'Ticket price was more than expected',
     'Price was not marked on ticket',
     'Ticket Matched Expected Price',
     'Ticket Matched Expected Price',
     'Ticket price was more than expected',
     'Price was not marked on ticket',
     'Price was not marked on ticket',
     'Ticket Matched Expected Price',
     'Ticket price was lower than expected',
     'Ticket Matched Expected Price',
     'Ticket price was lower than expected',
     'Ticket Matched Expected Price',
     'Ticket Matched Expected Price',
     'Price was not marked on ticket',
     'Price was not marked on ticket',
     'Ticket price was lower than expected',
     'Ticket Matched Expected Price',
     'Ticket price was more than expected',
     'Ticket Matched Expected Price',
     'Price was not marked on ticket',
     'Ticket Matched Expected Price',
     'Price was not marked on ticket',
     'Ticket Matched Expected Price',
     'Ticket Matched Expected Price',
     'Ticket Matched Expected Price',
     'Ticket Matched Expected Price',
     'Ticket Matched Expected Price']}}]}

In [386]:
comments = pd.read_csv(f'data/comments_{date}.csv')

In [387]:
cleaned_w_comments = cleaned.merge(comments, left_index=True, right_index=True)
cleaned_w_comments

,service,food_quality,environment,experience,menu_options,reccomend,price_point,comments,Unnamed: 1,Unnamed: 2,...,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,2,3,4,3,2,y,Price was not marked on ticket,Staff needs training,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,5,5,5,4,y,Ticket Matched Expected Price,Lots of chocolate on french toast,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,4,4,4,2,y,Price was not marked on ticket,"Great food - service, so happy to have you here!",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,5,5,5,5,y,Price was not marked on ticket,Please add fruit for breakfast,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,5,5,5,5,y,Price was not marked on ticket,Alicia wa awesome,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,5,5,5,5,y,Ticket price was lower than expected,Alicia took great care of my needs.,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,5,5,5,5,5,y,Ticket Matched Expected Price,The steak was perfectly cooked and possibly th...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,5,5,5,5,4,y,Ticket Matched Expected Price,Ran out of item I wanted,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,5,5,5,5,5,y,Ticket Matched Expected Price,It'd just be nice to have another veggie based...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,5,5,5,5,5,y,Ticket Matched Expected Price,Make sure the food comes together. Great food,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,5,4,3,5,4,y,Ticket Matched Expected Price,Very Attentive? Good Job?,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,5,5,5,5,5,y,Price was not marked on ticket,It can only get better from here. Keep up the ...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,5,5,5,5,5,y,Price was not marked on ticket,WONDERFUL!,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,5,5,5,5,5,y,Ticket Matched Expected Price,Codi was great. Put Cornivore on secret menu,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,4,5,4,4,5,y,Ticket Matched Expected Price,I would recomment some soft surfaces to help w...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,5,5,5,5,4,y,Ticket Matched Expected Price,Hostess was amazing :),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,5,4,5,5,4,y,Price was not marked on ticket,There is room for improvement with both the qu...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,5,5,5,5,5,y,Ticket price was more than expected,My medium hamburger was a bit rare,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,5,4,5,5,3,y,Price was not marked on ticket,"Did not like tortillas, rest was great. Great ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,5,5,5,5,5,y,Ticket Matched Expected Price,Itemize the bill,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,4,3,4,3,3,y,Ticket Matched Expected Price,Baked potato with steak hot food - not warm. N...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1,5,5,3,4,y,Ticket Matched Expected Price,Enjoyed our meal. Thank you,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,5,5,5,5,5,y,Ticket Matched Expected Price,1st time - fabulous food!,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,5,5,4,5,4,y,Ticket Matched Expected Price,Music on patio is too loud. Bathroom is lovely...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1,3,5,1,5,n,Ticket Matched Expected Price,"Alicia was very attentive, and so helpful expl...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,3,2,3,2,4,n,Ticket price was more than expected,"Great bartender, Manager that helps his staff ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,5,5,5,5,5,y,Ticket Matched Expected Price,Server was very pleasant and did her best. How...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,5,4,5,5,4,y,Price was not marked on ticket,Drink menu w/information re: juices etc. (is t...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,5,4,5,5,4,y,Price was not marked on ticket,I would like to see the taco special part of y...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,5,4,5,4,4,y,Ticket price was more than expected,Our server was nice and smelled great. I will ...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,3,3,3,3,3,n,Price was not marked on ticket,Loved the marked items too,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,5,4,4,4,4,y,Ticket Matched Expected Price,Chowder was great! To few entrees,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,4,4,5,4,4,y,Ticket Matched Expected Price,We can't read the specials on the board from o...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,5,5,5,5,5,y,Ticket price was more than expected,"Emily, our server, was GREAT. More meat on the...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,4,5,5,5,4,y,Price was not marked on ticket,5pm menu - weekend start earlier.,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,4,3,5,4,3,y,Price was not marked on ticket,Dinner needs to be available befor 5pm. How ab...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,5,5,5,5,5,y,Ticket Matched Expected Price,The 5:00pm menu should be 3:00pm on the weekends,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,5,5,5,5,5,y,Ticket price was lower than expected,Charcuterie Board was amazing. We should buy m...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,5,5,5,5,5,y,Ticket Matched Expected Price,Move High Chairs to server room,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,5,5,5,5,5,y,Ticket price was lower than expected,Green Chili tacos were warm,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,3,4,4,4,5,y,Ticket Matched Expected Price,Pickled carrots are great!!,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,4,4,4,4,3,y,Ticket Matched Expected Price,"All in all, really great experience and ton...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,5,5,5,5,5,y,Price was not marked on ticket,We will be back. Excellent!!!,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [388]:
for x in range(13):
    cleaned_w_comments.drop(f'Unnamed: {x+1}' , axis=1, inplace=True)

In [389]:
cleaned_w_comments.to_csv(f'cleaned/fp_{date}.csv')

In [390]:
collection.insert_one(ratings_dict)

SyntaxError: invalid syntax (<ipython-input-403-a371cfe38e3d>, line 1)

In [260]:
# ## Frenchy ( Mar 1 '19 at 8:56) How to Write Multiple Data Frames in an Excel Sheet (python 3). https://datascience.stackexchange.com/questions/46437/how-to-write-multiple-data-frames-in-an-excel-sheet.

# # Create a Pandas Excel writer using XlsxWriter as the engine.
# writer = pd.ExcelWriter('presentation_excel/fp_master.xlsx', engine='xlsxwriter')

# # Write each dataframe to a different worksheet. you could write different string like above if you want
# averages_df.to_excel(writer, sheet_name='Average Ratings')
# master.to_excel(writer, sheet_name='Review Data')

# # Close the Pandas Excel writer and output the Excel file.
# writer.save()