In [32]:
import pandas as pd
import numpy as np
from datetime import date

In [8]:
columns = ['rating','service', 'food_quality', 'environment', 'experience', 'menu_options', 'blank', 'blank2', 
           'yes_reccomend', 'no_reccomend', 'ticket_IS_expected', 'no_ticket_lower',
          'no_ticket_higher', 'priceless']
data = pd.read_csv('FP_06_02_2021_converted.csv', skiprows=1, names = columns)

In [9]:
data.fillna(0,inplace=True)

In [10]:
data=data[data['rating']!=0]

In [11]:
df = data.drop(['blank','blank2'], axis=1)

In [12]:
columns = ['rating','service', 'food_quality', 'environment', 'experience', 'menu_options',
           'yes_reccomend', 'no_reccomend', 'ticket_IS_expected', 'no_ticket_lower',
          'no_ticket_higher', 'priceless']
df_new=df[columns].astype(int)

In [13]:
service=[]
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['service'] == 1:
        service.append(5)
    elif j['rating']==4 and j['service']== 1:
        service.append(4)
    elif j['rating'] == 3 and j['service'] == 1:
        service.append(3)
    elif j['rating'] == 2 and j['service'] == 1:
        service.append(2)
    elif j['rating'] == 1 and j['service'] == 1:
        service.append(1)

In [14]:
food_quality=[]
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['food_quality'] == 1:
        food_quality.append(5)
    elif j['rating'] == 4 and j['food_quality'] == 1:
        food_quality.append(4)
    elif j['rating'] == 3 and j['food_quality'] == 1:
        food_quality.append(3)
    elif j['rating'] == 2 and j['food_quality'] == 1:
        food_quality.append(2)
    elif j['rating'] == 1 and j['food_quality'] == 1:
        food_quality.append(1)

In [15]:
environment=[]
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['environment'] == 1:
        environment.append(5)
    elif j['rating'] == 4 and j['environment'] == 1:
        environment.append(4)
    elif j['rating'] == 3 and j['environment'] == 1:
        environment.append(3)
    elif j['rating'] == 2 and j['environment'] == 1:
        environment.append(2)
    elif j['rating'] == 1 and j['environment'] == 1:
        environment.append(1)

In [16]:
experience=[]
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['experience'] == 1:
        experience.append(5)
    elif j['rating'] == 4 and j['experience'] == 1:
        experience.append(4)
    elif j['rating'] == 3 and j['experience'] == 1:
        experience.append(3)
    elif j['rating'] == 2 and j['experience'] == 1:
        experience.append(2)
    elif j['rating'] == 1 and j['experience'] == 1:
        experience.append(1)

In [17]:
menu_options=[]
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['menu_options'] == 1:
        menu_options.append(5)
    elif j['rating'] == 4 and j['menu_options'] == 1:
        menu_options.append(4)
    elif j['rating'] == 3 and j['menu_options'] == 1:
        menu_options.append(3)
    elif j['rating'] == 2 and j['menu_options'] == 1:
        menu_options.append(2)
    elif j['rating'] == 1 and j['menu_options'] == 1:
        menu_options.append(1)

In [18]:
reccomend=[]
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['yes_reccomend'] == 1:
        reccomend.append('y')
    elif j['rating'] == 5 and j['no_reccomend'] == 1:
        reccomend.append('n')

In [19]:
price_point = []
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['ticket_IS_expected'] == 1:
        price_point.append('Ticket Matched Expected Price')
    elif j['rating'] == 5 and j['no_ticket_lower'] == 1:
        price_point.append('Ticket price was lower than expected')
    elif j['rating'] == 5 and j['no_ticket_higher'] == 1:
        price_point.append('Ticket price was more than expected')
    elif j['rating'] == 5 and j['priceless'] == 1:
        price_point.append('Price was not marked on ticket')

In [20]:
a ={'service':service,'food_quality':food_quality,'environment':environment,
                       'experience':experience,'menu_options':menu_options,
                       'reccomendation_to_fam_and_friends':reccomend,'price':price_point}
cleaned = pd.DataFrame.from_dict(a, orient='index')
cleaned = cleaned.transpose()

In [23]:
cleaned.to_csv('cleaned/fp_current.csv')

In [25]:
comments = pd.read_csv('comments_Restaurant-workbook.csv')

In [26]:
cleaned_w_comments = cleaned.merge(comments, left_index=True, right_index=True)
cleaned_w_comments

,service,food_quality,environment,experience,menu_options,reccomendation_to_fam_and_friends,price,"Brunch menu a little limited. Beautiful restaurant 5+. Cody was our waitress, friendly, courteous",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,4,4,4,4,4,y,Ticket Matched Expected Price,Nice Place,NaN,NaN,NaN,NaN
1,5,4,5,4,4,y,Ticket Matched Expected Price,Great Job!,NaN,NaN,NaN,NaN
2,4,3,3,3,4,y,Price was not marked on ticket,Great experience - glad you're here,NaN,NaN,NaN,NaN
3,5,5,5,5,5,y,Ticket Matched Expected Price,Full menu after lunch rush and dessert all day...,NaN,NaN,NaN,NaN
4,5,5,5,5,5,y,Ticket Matched Expected Price,Thanks for all the vegetarian food!,NaN,NaN,NaN,NaN
5,5,5,5,5,5,y,Ticket Matched Expected Price,An espresso bar would be nice.,NaN,NaN,NaN,NaN
6,5,5,5,5,5,y,Price was not marked on ticket,I will be back ! :),NaN,NaN,NaN,NaN
7,5,5,5,5,5,y,Ticket Matched Expected Price,5 being best experience possible. Overall grea...,NaN,NaN,NaN,NaN

In [27]:
cleaned_w_comments.drop('Unnamed: 1', axis=1, inplace = True)

In [33]:
cleaned_w_comments.to_csv(f'cleaned/fp_current{date.today()}.csv')