In [230]:
import pandas as pd
import numpy as np
from datetime import date

In [231]:
date = input('please input date reviews are from as mm_dd_yyyy: ')

please input date reviews are from as mm_dd_yyyy: 05_28_2021

In [232]:
columns = ['rating','service', 'food_quality', 'environment', 'experience', 'menu_options', 'blank', 'blank2', 
           'yes_reccomend', 'no_reccomend', 'ticket_IS_expected', 'no_ticket_lower',
          'no_ticket_higher', 'priceless']
data = pd.read_csv(f'data/fp_{date}.csv', skiprows=1, names = columns)

In [233]:
data.fillna(0,inplace=True)

In [234]:
data=data[data['rating']!=0]

In [235]:
df = data.drop(['blank','blank2'], axis=1)

In [236]:
columns = ['rating','service', 'food_quality', 'environment', 'experience', 'menu_options',
           'yes_reccomend', 'no_reccomend', 'ticket_IS_expected', 'no_ticket_lower',
          'no_ticket_higher', 'priceless']
df_new=df[columns].astype(int)

In [237]:
service=[]
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['service'] == 1:
        service.append(5)
    elif j['rating']==4 and j['service']== 1:
        service.append(4)
    elif j['rating'] == 3 and j['service'] == 1:
        service.append(3)
    elif j['rating'] == 2 and j['service'] == 1:
        service.append(2)
    elif j['rating'] == 1 and j['service'] == 1:
        service.append(1)

In [238]:
food_quality=[]
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['food_quality'] == 1:
        food_quality.append(5)
    elif j['rating'] == 4 and j['food_quality'] == 1:
        food_quality.append(4)
    elif j['rating'] == 3 and j['food_quality'] == 1:
        food_quality.append(3)
    elif j['rating'] == 2 and j['food_quality'] == 1:
        food_quality.append(2)
    elif j['rating'] == 1 and j['food_quality'] == 1:
        food_quality.append(1)

In [239]:
environment=[]
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['environment'] == 1:
        environment.append(5)
    elif j['rating'] == 4 and j['environment'] == 1:
        environment.append(4)
    elif j['rating'] == 3 and j['environment'] == 1:
        environment.append(3)
    elif j['rating'] == 2 and j['environment'] == 1:
        environment.append(2)
    elif j['rating'] == 1 and j['environment'] == 1:
        environment.append(1)

In [240]:

experience=[]
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['experience'] == 1:
        experience.append(5)
    elif j['rating'] == 4 and j['experience'] == 1:
        experience.append(4)
    elif j['rating'] == 3 and j['experience'] == 1:
        experience.append(3)
    elif j['rating'] == 2 and j['experience'] == 1:
        experience.append(2)
    elif j['rating'] == 1 and j['experience'] == 1:
        experience.append(1)

In [241]:
menu_options=[]
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['menu_options'] == 1:
        menu_options.append(5)
    elif j['rating'] == 4 and j['menu_options'] == 1:
        menu_options.append(4)
    elif j['rating'] == 3 and j['menu_options'] == 1:
        menu_options.append(3)
    elif j['rating'] == 2 and j['menu_options'] == 1:
        menu_options.append(2)
    elif j['rating'] == 1 and j['menu_options'] == 1:
        menu_options.append(1)

In [242]:
reccomend=[]
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['yes_reccomend'] == 1:
        reccomend.append('y')
    elif j['rating'] == 5 and j['no_reccomend'] == 1:
        reccomend.append('n')

In [243]:
price_point = []
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['ticket_IS_expected'] == 1:
        price_point.append('Ticket Matched Expected Price')
    elif j['rating'] == 5 and j['no_ticket_lower'] == 1:
        price_point.append('Ticket price was lower than expected')
    elif j['rating'] == 5 and j['no_ticket_higher'] == 1:
        price_point.append('Ticket price was more than expected')
    elif j['rating'] == 5 and j['priceless'] == 1:
        price_point.append('Price was not marked on ticket')

In [244]:
a ={'service':service,'food_quality':food_quality,'environment':environment,
                       'experience':experience,'menu_options':menu_options,
                       'reccomendation_to_fam_and_friends':reccomend,'price':price_point}
cleaned = pd.DataFrame.from_dict(a, orient='index')
cleaned = cleaned.transpose()

In [245]:
cleaned.to_csv(f'cleaned/fp_current_{date}.csv')

In [246]:
comments = pd.read_csv(f'data/comments_{date}.csv')

In [247]:
cleaned_w_comments = cleaned.merge(comments, left_index=True, right_index=True)
cleaned_w_comments

,service,food_quality,environment,experience,menu_options,reccomendation_to_fam_and_friends,price,comments,Unnamed: 1,Unnamed: 2,...,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,5,5,5,5,5,y,Ticket price was lower than expected,The price point is reasonable enough to keep p...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5,5,5,5,4,y,Ticket Matched Expected Price,Aspen made an amazing jalapeno margarite 10/10,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5,5,5,5,5,y,Price was not marked on ticket,"Brandon did a wonderful job, very attentive ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,5,5,5,5,y,Ticket Matched Expected Price,I think the servers should have a united...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,1,5,3,5,y,Price was not marked on ticket,Just something he improve on but overall he ...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,4,5,4,4,y,Ticket price was more than expected,Shane was very attentive to the overal resta...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4,4,5,5,5,y,Ticket Matched Expected Price,The entire experience was amazing. I loved ...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,5,5,4,4,4,y,Ticket Matched Expected Price,The food was top notch. The only thing I wo...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,4,4,4,4,4,y,Ticket Matched Expected Price,Wrapping steak knife with the cutlery so ser...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,4,4,5,4,5,y,Ticket price was more than expected,The restaurant is very unique and is now my ...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2,1,2,1,3,n,Price was not marked on ticket,I have not had asparagus or spinach artichok...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,3,5,5,3,5,y,Ticket Matched Expected Price,Codi was Great!,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,5,4,5,5,3,y,Price was not marked on ticket,LOVE THE FOOD!!,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,5,4,5,5,3,y,Ticket Matched Expected Price,Great servie - H20 filled !(doesn't happen in ...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,5,5,5,5,5,y,Ticket Matched Expected Price,Original server made zero contact w/us… 30 min...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,5,5,5,5,5,y,Ticket Matched Expected Price,"Burnt bacon, burnt toast :(",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,5,5,5,5,5,y,Price was not marked on ticket,Coffee didn't come out till after we finished ...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,5,5,5,5,5,y,Ticket price was more than expected,I think you've done a great job with the resta...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,5,1,3,3,2,y,Ticket Matched Expected Price,No kids allowed what so ever! Ever!,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,5,4,5,4,5,y,Price was not marked on ticket,We will be back,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,5,5,5,5,1,n,Ticket Matched Expected Price,Fatty steak,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,5,5,5,5,5,y,Ticket Matched Expected Price,Make it Fun. Life is Short,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,5,5,5,5,4,y,Ticket Matched Expected Price,Great to have a quality option in our rather m...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,5,3,3,5,5,y,Ticket Matched Expected Price,Too Cold,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,4,5,3,3,3,n,Price was not marked on ticket,Spices,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,5,5,5,5,5,y,None,Sauces were amazing. Seems the restaurant is m...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,3,None,4,4,4,y,None,Roasted Corn: Charred on outside and not cooke...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [248]:
cleaned_w_comments.to_csv(f'cleaned/fp_current_{date}.csv')

In [249]:
day_service= cleaned_w_comments['service'].mean()
day_food = cleaned_w_comments['food_quality'].mean()
day_evironment = cleaned_w_comments['environment'].mean()
day_expierence = cleaned_w_comments['experience'].mean()
day_options = cleaned_w_comments['menu_options'].mean()
day_reccomendations_y = cleaned_w_comments['reccomendation_to_fam_and_friends'].value_counts()[0] 
try:
    day_reccomendations_n = cleaned_w_comments['reccomendation_to_fam_and_friends'].value_counts()[1]
except:
    day_reccomendations_n = 0

In [250]:
master = pd.read_csv('cleaned/fp_master.csv')

In [251]:
master = master.append(cleaned_w_comments)

In [252]:
for x in range(13):
    master.drop(f'Unnamed: {x+1}', axis=1, inplace=True)

In [253]:
master.reset_index(inplace=True)

In [254]:
master.drop('index', axis=1, inplace=True)

In [255]:
master

,service,food_quality,environment,experience,menu_options,reccomendation_to_fam_and_friends,price,comments
0,4,4,4,4,4,y,Ticket Matched Expected Price,Nice Place
1,5,4,5,4,4,y,Ticket Matched Expected Price,Great Job!
2,4,3,3,3,4,y,Price was not marked on ticket,Great experience - glad you're here
3,5,5,5,5,5,y,Ticket Matched Expected Price,Full menu after lunch rush and dessert all day...
4,5,5,5,5,5,y,Ticket Matched Expected Price,Thanks for all the vegetarian food!
...,...,...,...,...,...,...,...,...
63,5,5,5,5,4,y,Ticket Matched Expected Price,Great to have a quality option in our rather m...
64,5,3,3,5,5,y,Ticket Matched Expected Price,Too Cold
65,4,5,3,3,3,n,Price was not marked on ticket,Spices
66,5,5,5,5,5,y,None,Sauces were amazing. Seems the restaurant is m...
67,3,None,4,4,4,y,None,Roasted Corn: Charred on outside and not cooke...

In [260]:
master.to_csv('cleaned/fp_master.csv')

In [257]:
average_service = master['service'].mean()
average_food = master['food_quality'].mean()
average_environment=master['environment'].mean()
average_experience= master['experience'].mean()
average_options = master['menu_options'].mean()
average_reccomendations_y = master['reccomendation_to_fam_and_friends'].value_counts()[0] 
try:
    average_reccomendations_n = master['reccomendation_to_fam_and_friends'].value_counts()[1]
except:
    average_reccomendations_n = 0

In [259]:
averages_df = pd.DataFrame({'Average Service rating': [day_sarvice, average_service],
                           'Average Food rating': [day_food, average_food],
                           'Average Environment rating':[day_evironment,average_environment],
                           'Average Experience rating': [day_expierence,average_experience],
                           'Average Options rating':[day_options,average_options]},
                          index = [date, 'All Time'])
averages_df

,Average Service rating,Average Food rating,Average Environment rating,Average Experience rating,Average Options rating
05_28_2021,4.444444,4.192308,4.555556,4.333333,4.222222
All Time,4.514706,4.283582,4.602941,4.397059,4.308824

In [266]:
averages_df.to_csv('cleaned/fp_master.csv')

In [265]:
## Frenchy ( Mar 1 '19 at 8:56) How to Write Multiple Data Frames in an Excel Sheet (python 3). https://datascience.stackexchange.com/questions/46437/how-to-write-multiple-data-frames-in-an-excel-sheet.

# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('presentation_excel/fp_master.xlsx', engine='xlsxwriter')

# Write each dataframe to a different worksheet. you could write different string like above if you want
averages_df.to_excel(writer, sheet_name='Average Ratings')
master.to_excel(writer, sheet_name='Review Data')

# Close the Pandas Excel writer and output the Excel file.
writer.save()