In [1]:
import pandas as pd
import numpy as np

In [2]:
columns = ['rating','service', 'food_quality', 'environment', 'experience', 'menu_options', 'blank', 'blank2', 
           'yes_reccomend', 'no_reccomend', 'ticket_IS_expected', 'no_ticket_lower',
          'no_ticket_higher', 'priceless']
data = pd.read_csv('FP Service Analysis(15).csv', skiprows=1, names = columns)

In [3]:
data.fillna(0,inplace=True)

In [4]:
data=data[data['rating']!=0]

In [5]:
df = data.drop(['blank','blank2'], axis=1)

In [6]:
columns = ['rating','service', 'food_quality', 'environment', 'experience', 'menu_options',
           'yes_reccomend', 'no_reccomend', 'ticket_IS_expected', 'no_ticket_lower',
          'no_ticket_higher', 'priceless']
df_new=df[columns].astype(int)

In [7]:
service=[]
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['service'] == 1:
        service.append(5)
    elif j['rating']==4 and j['service']== 1:
        service.append(4)
    elif j['rating'] == 3 and j['service'] == 1:
        service.append(3)
    elif j['rating'] == 2 and j['service'] == 1:
        service.append(2)
    elif j['rating'] == 1 and j['service'] == 1:
        service.append(1)

In [8]:
food_quality=[]
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['food_quality'] == 1:
        food_quality.append(5)
    elif j['rating'] == 4 and j['food_quality'] == 1:
        food_quality.append(4)
    elif j['rating'] == 3 and j['food_quality'] == 1:
        food_quality.append(3)
    elif j['rating'] == 2 and j['food_quality'] == 1:
        food_quality.append(2)
    elif j['rating'] == 1 and j['food_quality'] == 1:
        food_quality.append(1)

In [9]:
environment=[]
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['environment'] == 1:
        environment.append(5)
    elif j['rating'] == 4 and j['environment'] == 1:
        environment.append(4)
    elif j['rating'] == 3 and j['environment'] == 1:
        environment.append(3)
    elif j['rating'] == 2 and j['environment'] == 1:
        environment.append(2)
    elif j['rating'] == 1 and j['environment'] == 1:
        environment.append(1)

In [10]:
experience=[]
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['experience'] == 1:
        experience.append(5)
    elif j['rating'] == 4 and j['experience'] == 1:
        experience.append(4)
    elif j['rating'] == 3 and j['experience'] == 1:
        experience.append(3)
    elif j['rating'] == 2 and j['experience'] == 1:
        experience.append(2)
    elif j['rating'] == 1 and j['experience'] == 1:
        experience.append(1)

In [11]:
menu_options=[]
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['menu_options'] == 1:
        menu_options.append(5)
    elif j['rating'] == 4 and j['menu_options'] == 1:
        menu_options.append(4)
    elif j['rating'] == 3 and j['menu_options'] == 1:
        menu_options.append(3)
    elif j['rating'] == 2 and j['menu_options'] == 1:
        menu_options.append(2)
    elif j['rating'] == 1 and j['menu_options'] == 1:
        menu_options.append(1)

In [12]:
reccomend=[]
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['yes_reccomend'] == 1:
        reccomend.append('y')
    elif j['rating'] == 5 and j['no_reccomend'] == 1:
        reccomend.append('n')

In [13]:
price_point = []
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['ticket_IS_expected'] == 1:
        price_point.append('Ticket Matched Expected Price')
    elif j['rating'] == 5 and j['no_ticket_lower'] == 1:
        price_point.append('Ticket price was lower than expected')
    elif j['rating'] == 5 and j['no_ticket_higher'] == 1:
        price_point.append('Ticket price was more than expected')
    elif j['rating'] == 5 and j['priceless'] == 1:
        price_point.append('Price was not marked on ticket')

In [14]:
a ={'service':service,'food_quality':food_quality,'environment':environment,
                       'experience':experience,'menu_options':menu_options,
                       'reccomendation_to_fam_and_friends':reccomend,'price':price_point}
cleaned = pd.DataFrame.from_dict(a, orient='index')
cleaned = cleaned.transpose()

In [15]:
cleaned.to_csv('fp_current.csv')

In [18]:
comments = pd.read_csv('comments.csv')

In [26]:
cleaned_w_comments = cleaned.merge(comments, left_index=True, right_index=True)
cleaned_w_comments

,service,food_quality,environment,experience,menu_options,reccomendation_to_fam_and_friends,price,Recommendations,Unnamed: 1
0,4,5,5,5,5,y,Ticket Matched Expected Price,I would love the servers to be more confident,NaN
1,5,5,5,5,5,y,Ticket Matched Expected Price,"We loved the experience, the food(eggplant exc...",NaN
2,5,5,5,5,5,y,Ticket Matched Expected Price,It would help to have vegan items marked and t...,NaN
3,5,5,5,5,5,y,Ticket price was lower than expected,light restaurants that have vegan vegetaria...,NaN
4,5,5,5,5,5,y,Price was not marked on ticket,Thank you. It was a wonderful experience,NaN
...,...,...,...,...,...,...,...,...,...
64,5,5,5,4,4,y,Price was not marked on ticket,Overall - great though,NaN
65,5,5,5,5,5,y,Ticket Matched Expected Price,Great meal,NaN
66,5,5,5,5,5,y,Price was not marked on ticket,Breakfast burger was amazing!,NaN
67,5,5,5,5,5,y,Ticket Matched Expected Price,Brussel sprouts would be even better with topp...,NaN
68,5,5,5,5,4,y,Ticket Matched Expected Price,Delicious Food - specially the green chili! Dr...,NaN

In [32]:
cleaned_w_comments.drop('Unnamed: 1', axis=1, inplace = True)

In [34]:
cleaned_w_comments.to_csv('fp_current.csv')