In [230]:
import pandas as pd
import numpy as np
from datetime import date
import pymongo

In [231]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
db = client.fp_reviews_db
collection = db.reviews

In [2]:
date = input('please input date reviews are from as mm_dd_yyyy: ')

please input date reviews are from as mm_dd_yyyy: 05_28_2021

In [211]:
columns = ['rating','service', 'food_quality', 'environment', 'experience', 'menu_options', 'blank', 'blank2', 
           'yes_reccomend', 'no_reccomend', 'ticket_IS_expected', 'no_ticket_lower',
          'no_ticket_higher', 'priceless']
data = pd.read_csv(f'data/fp_{date}.csv', skiprows=1, names = columns)

In [212]:
data.fillna(0,inplace=True)

In [213]:
data=data[data['rating']!=0]

In [214]:
df = data.drop(['blank','blank2'], axis=1)

In [215]:
columns = ['rating','service', 'food_quality', 'environment', 'experience', 'menu_options',
           'yes_reccomend', 'no_reccomend', 'ticket_IS_expected', 'no_ticket_lower',
          'no_ticket_higher', 'priceless']
df_new=df[columns].astype(int)

In [234]:
ratings_dict = {'ratings':[]}
sub_dict = {'input_date':[],'service':[], 'food_quality':[], 'environment':[], 'experience':[], 'menu_options':[], 'reccomend':[],
           'price_point':[]}

In [217]:
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['service'] == 1:
        sub_dict['service'].append(5)
    elif j['rating']==4 and j['service']== 1:
        sub_dict['service'].append(4)
    elif j['rating'] == 3 and j['service'] == 1:
        sub_dict['service'].append(3)
    elif j['rating'] == 2 and j['service'] == 1:
        sub_dict['service'].append(2)
    elif j['rating'] == 1 and j['service'] == 1:
        sub_dict['service'].append(1)

In [218]:
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['food_quality'] == 1:
        sub_dict['food_quality'].append(5)
    elif j['rating'] == 4 and j['food_quality'] == 1:
        sub_dict['food_quality'].append(4)
    elif j['rating'] == 3 and j['food_quality'] == 1:
        sub_dict['food_quality'].append(3)
    elif j['rating'] == 2 and j['food_quality'] == 1:
        sub_dict['food_quality'].append(2)
    elif j['rating'] == 1 and j['food_quality'] == 1:
        sub_dict['food_quality'].append(1)

In [219]:
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['environment'] == 1:
        sub_dict['environment'].append(5)
    elif j['rating'] == 4 and j['environment'] == 1:
        sub_dict['environment'].append(4)
    elif j['rating'] == 3 and j['environment'] == 1:
        sub_dict['environment'].append(3)
    elif j['rating'] == 2 and j['environment'] == 1:
        sub_dict['environment'].append(2)
    elif j['rating'] == 1 and j['environment'] == 1:
        sub_dict['environment'].append(1)

In [220]:
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['experience'] == 1:
        sub_dict['experience'].append(5)
    elif j['rating'] == 4 and j['experience'] == 1:
        sub_dict['experience'].append(4)
    elif j['rating'] == 3 and j['experience'] == 1:
        sub_dict['experience'].append(3)
    elif j['rating'] == 2 and j['experience'] == 1:
        sub_dict['experience'].append(2)
    elif j['rating'] == 1 and j['experience'] == 1:
        sub_dict['experience'].append(1)

In [221]:
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['menu_options'] == 1:
        sub_dict['menu_options'].append(5)
    elif j['rating'] == 4 and j['menu_options'] == 1:
        sub_dict['menu_options'].append(4)
    elif j['rating'] == 3 and j['menu_options'] == 1:
        sub_dict['menu_options'].append(3)
    elif j['rating'] == 2 and j['menu_options'] == 1:
        sub_dict['menu_options'].append(2)
    elif j['rating'] == 1 and j['menu_options'] == 1:
        sub_dict['menu_options'].append(1)

In [222]:
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['yes_reccomend'] == 1:
        sub_dict['reccomend'].append('y')
    elif j['rating'] == 5 and j['no_reccomend'] == 1:
        sub_dict['reccomend'].append('n')

In [223]:
for i , j in df_new.iterrows():
    if j['rating'] == 5 and j['ticket_IS_expected'] == 1:
        sub_dict['price_point'].append('Ticket Matched Expected Price')
    elif j['rating'] == 5 and j['no_ticket_lower'] == 1:
        sub_dict['price_point'].append('Ticket price was lower than expected')
    elif j['rating'] == 5 and j['no_ticket_higher'] == 1:
        sub_dict['price_point'].append('Ticket price was more than expected')
    elif j['rating'] == 5 and j['priceless'] == 1:
        sub_dict['price_point'].append('Price was not marked on ticket')

In [224]:
for x in range(len(service)):
    sub_dict['input_date'].append(date)

In [225]:
cleaned = pd.DataFrame.from_dict(sub_dict, orient='index')
cleaned = cleaned.transpose()

In [235]:
ratings_dict['ratings'].append(sub_dict)

In [226]:
cleaned.to_csv(f'cleaned/fp_current_{date}.csv')

In [227]:
comments = pd.read_csv(f'data/comments_{date}.csv')

In [228]:
cleaned_w_comments = cleaned.merge(comments, left_index=True, right_index=True)
cleaned_w_comments

,input_date,service,food_quality,environment,experience,menu_options,reccomend,price_point,comments,Unnamed: 1,...,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,05_28_2021,5,5,5,5,5,y,Ticket price was lower than expected,The price point is reasonable enough to keep p...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,05_28_2021,5,5,5,5,4,y,Ticket Matched Expected Price,Aspen made an amazing jalapeno margarite 10/10,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,05_28_2021,5,5,5,5,5,y,Price was not marked on ticket,"Brandon did a wonderful job, very attentive ...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,05_28_2021,5,5,5,5,5,y,Ticket Matched Expected Price,I think the servers should have a united...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,05_28_2021,1,1,5,3,5,y,Price was not marked on ticket,Just something he improve on but overall he ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,05_28_2021,5,4,5,4,4,y,Ticket price was more than expected,Shane was very attentive to the overal resta...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,05_28_2021,4,4,5,5,5,y,Ticket Matched Expected Price,The entire experience was amazing. I loved ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,05_28_2021,5,5,4,4,4,y,Ticket Matched Expected Price,The food was top notch. The only thing I wo...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,05_28_2021,4,4,4,4,4,y,Ticket Matched Expected Price,Wrapping steak knife with the cutlery so ser...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,05_28_2021,4,4,5,4,5,y,Ticket price was more than expected,The restaurant is very unique and is now my ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,05_28_2021,2,1,2,1,3,n,Price was not marked on ticket,I have not had asparagus or spinach artichok...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,05_28_2021,3,5,5,3,5,y,Ticket Matched Expected Price,Codi was Great!,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,05_28_2021,5,4,5,5,3,y,Price was not marked on ticket,LOVE THE FOOD!!,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,05_28_2021,5,4,5,5,3,y,Ticket Matched Expected Price,Great servie - H20 filled !(doesn't happen in ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,05_28_2021,5,5,5,5,5,y,Ticket Matched Expected Price,Original server made zero contact w/us… 30 min...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,05_28_2021,5,5,5,5,5,y,Ticket Matched Expected Price,"Burnt bacon, burnt toast :(",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,05_28_2021,5,5,5,5,5,y,Price was not marked on ticket,Coffee didn't come out till after we finished ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,05_28_2021,5,5,5,5,5,y,Ticket price was more than expected,I think you've done a great job with the resta...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,05_28_2021,5,1,3,3,2,y,Ticket Matched Expected Price,No kids allowed what so ever! Ever!,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,05_28_2021,5,4,5,4,5,y,Price was not marked on ticket,We will be back,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,05_28_2021,5,5,5,5,1,n,Ticket Matched Expected Price,Fatty steak,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,05_28_2021,5,5,5,5,5,y,Ticket Matched Expected Price,Make it Fun. Life is Short,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,05_28_2021,5,5,5,5,4,y,Ticket Matched Expected Price,Great to have a quality option in our rather m...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,05_28_2021,5,3,3,5,5,y,Ticket Matched Expected Price,Too Cold,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,05_28_2021,4,5,3,3,3,n,Price was not marked on ticket,Spices,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,05_28_2021,5,5,5,5,5,y,None,Sauces were amazing. Seems the restaurant is m...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,05_28_2021,3,None,4,4,4,y,None,Roasted Corn: Charred on outside and not cooke...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
## Frenchy ( Mar 1 '19 at 8:56) How to Write Multiple Data Frames in an Excel Sheet (python 3). https://datascience.stackexchange.com/questions/46437/how-to-write-multiple-data-frames-in-an-excel-sheet.

# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('presentation_excel/fp_master.xlsx', engine='xlsxwriter')

# Write each dataframe to a different worksheet. you could write different string like above if you want
averages_df.to_excel(writer, sheet_name='Average Ratings')
master.to_excel(writer, sheet_name='Review Data')

# Close the Pandas Excel writer and output the Excel file.
writer.save()