In [8]:
import pandas as pd
import numpy as np

In [ ]:
service=[]
food=[]
environment=[]
experience=[]
options=[]
reccomend=[]
total=[]

while True:
    service.append(input('how would you rate the service:'))
    food.append(input('how would you rate the food:'))
    environment.append(input('How would you rate overall environment:'))
    experience.append(input('How would you rate the overall experience:'))
    options.append(input('How would you rate menu options:'))
    reccomend.append(input('Would you reccomend us to family and friends:'))
    total.append(input('Was the total what you expect it to be: 1 for yes, 2 for no lower and 3 for no higher'))
    print('----------------------------------------------------------------')
    if input('would you like to add more (y for yes, n for no):') == 'n':
        break

how would you rate the service:5
how would you rate the food:5
How would you rate overall environment:5
How would you rate the overall experience:5
How would you rate menu options:5
Would you reccomend us to family and friends:y
Was the total what you expect it to be: 1 for yes, 2 for no lower and 3 for no higher1
----------------------------------------------------------------
would you like to add more (y for yes, n for no):y
how would you rate the service:5
how would you rate the food:5
How would you rate overall environment:5
How would you rate the overall experience:5
How would you rate menu options:5
Would you reccomend us to family and friends:y
Was the total what you expect it to be: 1 for yes, 2 for no lower and 3 for no highernot marked
----------------------------------------------------------------
would you like to add more (y for yes, n for no):y
how would you rate the service:4
how would you rate the food:4
How would you rate overall environment:5
How would you rate the overall experience:5
How would you rate menu options:4
Would you reccomend us to family and friends:y
Was the total what you expect it to be: 1 for yes, 2 for no lower and 3 for no highernot marked
----------------------------------------------------------------
would you like to add more (y for yes, n for no):y
how would you rate the service:5
how would you rate the food:4
How would you rate overall environment:5
How would you rate the overall experience:5
How would you rate menu options:5
Would you reccomend us to family and friends:y
Was the total what you expect it to be: 1 for yes, 2 for no lower and 3 for no highernot marked
----------------------------------------------------------------
would you like to add more (y for yes, n for no):y
how would you rate the service:5
how would you rate the food:5
How would you rate overall environment:5
How would you rate the overall experience:5
How would you rate menu options:5
Would you reccomend us to family and friends:y
Was the total what you expect it to be: 1 for yes, 2 for no lower and 3 for no higher1
----------------------------------------------------------------
would you like to add more (y for yes, n for no):y
how would you rate the service:5
how would you rate the food:5
How would you rate overall environment:3
How would you rate the overall experience:3
How would you rate menu options:4
Would you reccomend us to family and friends:y
Was the total what you expect it to be: 1 for yes, 2 for no lower and 3 for no highernot marked
----------------------------------------------------------------
would you like to add more (y for yes, n for no):y
how would you rate the service:4
how would you rate the food:5
How would you rate overall environment:4
How would you rate the overall experience:5
How would you rate menu options:4
Would you reccomend us to family and friends:y
Was the total what you expect it to be: 1 for yes, 2 for no lower and 3 for no highernot marked
----------------------------------------------------------------
would you like to add more (y for yes, n for no):y
how would you rate the service:5
how would you rate the food:5
How would you rate overall environment:5
How would you rate the overall experience:5
How would you rate menu options:5
Would you reccomend us to family and friends:y
Was the total what you expect it to be: 1 for yes, 2 for no lower and 3 for no highernot marked
----------------------------------------------------------------
would you like to add more (y for yes, n for no):y
how would you rate the service:5
how would you rate the food:5
How would you rate overall environment:5
How would you rate the overall experience:5
How would you rate menu options:1
Would you reccomend us to family and friends:y
Was the total what you expect it to be: 1 for yes, 2 for no lower and 3 for no higher1
----------------------------------------------------------------

In [20]:
fp_analysis = pd.DataFrame({'service':service,
                           'food':food,
                           'environment':environment,
                           'experience':experience,
                           'menu_option':options,
                           'reccomed_us': reccomend,
                           'total_match_expectations':total})

In [25]:
fp_new = fp_analysis.copy()
fp_new

,service,food,environment,experience,menu_option,reccomed_us,total_match_expectations
0,5,5,5,5,5,y,not marked
1,5,5,5,4,5,y,not marked
2,5,5,4,5,5,y,notmarked
3,5,5,4,5,5,y,not marked
4,3,3,5,3,4,y,Null
5,5,5,5,5,5,y,1
6,5,5,5,5,5,y,1
7,4,5,4,4,4,y,1
8,5,5,5,5,5,y,not marked
9,2,4,5,3,5,y,1
10,4,5,5,5,5,y,1
11,3,4,5,4,4,y,1
12,5,5,5,5,5,y,not marked
13,5,4,5,4,4,y,1
14,4,3,4,4,4,5,y
15,4,5,4,4,5,y,1
16,5,5,5,5,5,y,not marked
17,4,3,5,4,4,y,3
18,5,5,5,5,5,y,1
19,4,4,5,4,3,y,1
20,5,4,5,4,4,y,not marked
21,5,4,4,4,4,y,1
22,5,5,4,5,5,y,1
23,5,5,5,5,5,y,1
24,5,5,5,5,4,y,2
25,5,4,3,4,4,y,1
26,5,5,5,5,5,y,not marked
27,5,5,5,5,5,y,not marked
28,5,5,5,5,5,y,not marked
29,5,4,4,4,4,y,1
30,3,5,5,4,5,y,not marked
31,5,5,5,5,5,y,not marked
32,5,5,5,5,5,y,not marked
33,4,5,5,4,5,y,1
34,5,5,5,5,5,y,1
35,5,5,5,5,5,y,not marked
36,4,4,5,5,4,y,not marked
37,5,4,5,5,5,y,not marked
38,5,5,5,5,5,y,1

In [22]:
fp_current = fp_one.merge(fp_two)

In [28]:
fp_current
fp_current.to_csv('fp_current.csv')

In [29]:
fp_current

,service,food,environment,experience,menu_option,reccomed_us,total_match_expectations
0,4,5,5,5,5,y,1
1,5,5,5,5,5,y,1
2,5,5,5,5,5,y,1
3,5,5,5,5,5,y,1
4,5,5,5,5,5,y,1
...,...,...,...,...,...,...,...
73,5,5,5,5,5,y,not marked
74,5,5,5,5,5,y,not marked
75,5,5,5,5,5,y,not marked
76,5,5,5,5,5,y,not marked
77,4,5,5,4,5,y,1